/* css/tfcm-style.css */
.toplevel_page_traffic-monitor .metabox-prefs {
	display: none;
}

#tfcm-signup-notice {
	padding: 1px 12px 7px 12px;
}

p.tfcm-form-message {
	display: block;
}

#tfcm-signup-form {
	display: block;
}

.notice-dismiss {
	padding: 26px 9px;
}

@media (min-width: 1350px) {
	p.tfcm-form-message {
		display: inline;
	}

	#tfcm-signup-form {
		display: inline;
		margin-left: 5px;
	}

	#tfcm-signup-notice {
		padding: 7px 12px;
	}

	.notice-dismiss {
		padding: 12px 9px;
	}
}

input#tfcm-email {
	width: 240px;
}

#tfcm-signup-form button {
	height: 30px;
}

/* Custom widths for specific columns in the log table */
.wp-list-table .column-cb {
	width: 3%;
}

.wp-list-table .column-request_time {
	width: 15%;
}

.wp-list-table .column-request_url {
	width: 20%;
}

.wp-list-table .column-referer_url {
	width: 25%;
}

.wp-list-table .column-ip_address {
	width: 15%;
}

.wp-list-table .column-operating_system,
.wp-list-table .column-device,
.wp-list-table .column-browser {
	width: 7%;
}

table.tfcm-request-detail-table {
	margin: 20px 0;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.tfcm-request-detail-table th,
.tfcm-request-detail-table td {
	padding: 5px 10px;
	border: 1px solid #ddd;
	vertical-align: top;
}

.tfcm-request-detail-table th {
	width: 120px;
	text-align: left;
	white-space: nowrap;
}

.tfcm-request-detail-table td {
	word-wrap: break-word;
}