/* css/tfcm-style.css */
table.tfcm-request-detail-table {
	margin: 20px 0;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

.tfcm-request-detail-table th,
.tfcm-request-detail-table td {
	padding: 5px 10px;
	border: 1px solid #ddd;
	vertical-align: top;
}

.tfcm-request-detail-table th {
	width: 120px;
	text-align: left;
	white-space: nowrap;
}

.tfcm-request-detail-table td {
	word-wrap: break-word;
}

.toplevel_page_traffic-monitor thead .check-column .sorting-indicators,
.toplevel_page_traffic-monitor tfoot .check-column .sorting-indicators {
	display: none;
}